<!DOCTYPE html>
<html ng-app="myChat">

<head>
  <meta charset="utf-8">
  <title>Chat!</title>
  <link rel="stylesheet" href="/js/bower/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  </script>
  <link rel="stylesheet" href="/styles/master.css">
</head>

<body>
  <div ng-controller="chatController" ng-cloak>
    <h1><span ng-show="!enCanal">No </span>Conectado<span ng-show="enCanal"> como {{client.nombre}}</span>!</h1>
    <input type="text" ng-model="client.nombre" placeholder="Usuario" ng-show="!enCanal" ng-disabled="!conectado" autofocus>
    <button type="button" ng-click="suscribirse()" ng-show="!enCanal" ng-disabled="!client.nombre||usuario.length<3||!conectado">Entrar!</button>
    <div class="main-box" ng-show="enCanal">
      <div class="user-box">
        <div class="usuario" ng-repeat="usuario in clients" ng-class="{'self':usuario.socket==client.socket}">
          <i class="fa fa-user" aria-hidden></i> {{usuario.nombre}}
        </div>
      </div>
      <div class="chat-box">
        <div class="mensaje" ng-repeat="evento in eventos">
          <div class="evento" ng-include="'templates/'+evento.type+'.html'"></div>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" id="txtMensaje" ng-model="txtMensaje" ng-disabled="!enCanal" ng-keyup="keyDown($event)">
      </div>
      <div class="chat-send">
        <button type="button" ng-click="enviarMensaje()" ng-disabled="!enCanal||!txtMensaje"><i class="fas fa-paper-plane" aria-hidden></i> Enviar</button>
      </div>
    </div>
    <div class="error" ng-show="!conectado">Está desconectado del servidor, conectando...</div>
  </div>
  <script src="/js/bower/sails.io.js/dist/sails.io.js"></script>
  <script src="/js/bower/angular/angular.min.js"></script>
  <script src="/js/bower/angular-sails/dist/angular-sails.min.js"></script>
  <script src="/js/bower/lodash/dist/lodash.min.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
