.ng-cloak{
  display:none;
}

.user-box{
  display:inline-block;
  border:1px solid #ddd;
  width: 150px;
  height: 420px;
  overflow: auto;
  vertical-align: top;
}

.chat-box{
  display: inline-block;
  width: calc(100% - 178px);
  border:1px solid #ddd;
  padding:10px;
  height: 400px;
  overflow: auto;
}

.chat-input{
  float:left;
  border-radius:6px;
  border:1px solid #ddd;
  width: calc(100% - 100px);
}
.chat-input input{
  border-radius:6px;
  border:none;
  width: 100%;
}
.chat-send{
  float: left;
  width: 98px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 5px;
}
.chat-send button {
  width: 100%;
  border-radius:6px;
  border:1px solid #666;
  box-shadow:2px 2px 5px #444;
}


.error{
  padding:10px;
  color:rgb(181, 11, 11);
}

.usuario{
  padding:5px;
}

.self{
  background-color:#666;
  color:#fff;
}
